html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.transparent{
    margin-bottom:0px;
    background: transparent;
    border: 0px;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif
    font-weight: 300;
    opacity: .7;
    background: transparent;
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
section.home-header{
    height: 668px;
}
section.about{
    background: #dcdcdc;
}
section.officers{
    background: #fff;
}
section.sponsors{
    background: #dcdcdc;
}
nav .logo {
  background: url('/assets/images/terpski_logo.png');
  background-repeat: no-repeat;
  background-size: 215px 33px;
  width: 215px;
  height: 33px;
  position: relative;
  top: 13px;
}

body{
    font-family: Verdana, Geneva, sans-serif
    color: #000;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;

}

section.home-header video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  z-index: -1;
  background: url('/assets/images/whistler.png'),rgba(0,0,0,.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}