@(form: Form[(String,String)], user: User)(implicit flash: Flash)

@main(user){
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                @helper.form(routes.Application.authenticate) {
                    <h1>Sign in</h1>
                    <hr>
                    @form.globalError.map { error =>
                        <p class="error" style="color: red;">
                            @error.message
                        </p>
                    }

                    @flash.get("success").map { message =>
                        <p class="success" style="color: red;">
                            @message
                        </p>
                    }
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <label for="inputEmail">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" id="email" value="@form("email").value">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-md-offset-4">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <button type="submit" class="btn btn-default">Submit</button>
                            <a href="/create" class="btn btn-default">Sign Up</a>
                            <a class="btn btn-default" href="https://www.everbutton.com/pay/1799" id="everbutton-1806-1411616634-81">
                                Pay Membership Fees
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>
}