@(user: User)

@main(user){
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Quebec City New Years</h1>
                <hr>
                <p>December 27 - January 1</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Quebec City</h2>
                    <hr class="light">
                    <p class="text-faded">$559 Per Person</p>
                    <p class="text-faded">$150 Deposit due by October 22, 2015</p>
                    <p class="text-faded">Final Payment due by November 19, 2015</p>
                    @if(user == null){
                        <a class="btn btn-default btn-xl" href="/login">Sign in to Pay</a>
                    }else{
                        @if(user.deposit.isEmpty){
                            <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1799" id="everbutton-1806-1411616634-81">
                                Become a Member
                            </a>
                        }else{
                            <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1805" id="everbutton-1805-1441150577-6">
                                Pay Quebec City Deposit
                            </a>
                            <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1756" id="everbutton-1806-1411616634-81">
                                Pay Quebec City Final Payment
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="trips">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trip Details</h2>
                    <hr class="primary">
                    <p>* 5 nights lodging at the Loews Le Concorde in Quebec. (across the street from clubs, bars, and food)
                        <br>
                        * 4 Day Multi-area lift pass for Mont St. Anne, Stoneham & Le Massif.
                        <br>
                        * Roundtrip buses to Quebec and individual mountains
                        <br>
                        * Bar Tabs
                        <br>
                        * EPIC NEW YEARS PARTY at Dagobert Nightclub...For more info...Watch the Terpski Video...ask any friends who have been....or talk to us....
                        <h4>Mont St. Anne:</h4>
                        <hr>
                        2,625 ft. summit, 530 acres of skiable terrain, and 190in of annual snowfall
                        3 Terrain Parks, and Boarder-cross course
                        70 trails​
                        <h4>​Stoneham:</h4>
                        <hr>
                        1,946 ft. summit, 333 skiable acres, and 150in of annual snowfall
                        3 terrain parks, and 22ft olympic half-pipe
                        42 trails
                        <h4>Le Massif:</h4>
                        <hr>
                        2,644 ft. summit, 406 skiable acres, and 250in of annual snowfall
                        1 terrain park
                        52 trails
                    </p>
                </div>
            </div>
        </div>
    </section>
}