@(user: User)

@main(user){
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Killington Weekend</h1>
                <hr>
                <p>December 4 - December 6</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Killington Weekend</h2>
                    <hr class="light">
                    <p class="text-faded">$155 Per Person</p>
                    <p class="text-faded">$50 Deposit due by October 22, 2015</p>
                    <p class="text-faded">Final Payment due by November 19, 2015</p>
                    <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1806" id="everbutton-1806-1411616634-81">
                        Pay Killington Weekend Final Payment
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="trips">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trip Details</h2>
                    <hr class="primary">
                    <p>* 2 nights lodging at Pinnacle Condos in Killington Village
                        <br>
                        * 2 day lift ticket
                        <br>
                        * Killington Stats:
                        <br>
                        6 Mountains, 4,241 ft. summit, 1,509 skiable acres, 250in of annual snowfall
                        141 Trails, 22 Lifts
                        5 Terrain Parks, and 430 ft. SuperPipe
                        Home of the Dew Tour
                        Biggest Mountain on the East Coast!
                        <br>
                        * Carpool up to Killington (No transportation is included, however we never have a problem finding everybody rides)
                        <br>
                        * A great break right before finals
                        <br>
                        * Catch the first snowfall of the year
                    </p>
                </div>
            </div>
        </div>
    </section>
}