@(user: User)

@main(user){
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Jackson Hole</h1>
                <hr>
                <p>January 17 - January 24</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Jackson Hole</h2>
                    <hr class="light">
                    <p class="text-faded">$1650 Per Person</p>
                    <p class="text-faded">$150 Deposit due by October 2, 2015</p>
                    <p class="text-faded">Final Payment due by November 19, 2015</p>
                    <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1804" id="everbutton-1804-1441150987-94">
                        Pay Jackson Hole Deposit
                    </a>
                    <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1808" id="everbutton-1808-1441151071-14">
                        Pay Jackson Hole Final Payment
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="trips">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trip Details</h2>
                    <hr class="primary">
                    <p>Check Back Later for more Info on this Trip
                    </p>
                </div>
            </div>
        </div>
    </section>
}