@(user: User)

@main(user){
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Killington Week</h1>
                <hr>
                <p>January 10 - January 15</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About Killington Week</h2>
                    <hr class="light">
                    <p class="text-faded">$399 Per Person</p>
                    <p class="text-faded">$50 Deposit due by November 26, 2015</p>
                    <p class="text-faded">Final Payment due by December 3, 2015</p>
                    @if(user == null){
                        <a class="btn btn-default btn-xl" href="/login">Sign in to Pay</a>
                    }else{
                        <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1803" id="everbutton-1803-1441151141-5">
                            Pay Killington Week Deposit
                        </a>
                        <a class="btn btn-default btn-xl" href="https://www.everbutton.com/pay/1807" id="everbutton-1807-1441151196-9">
                            Pay Killington Week Final Payment
                        </a>
                    }
                </div>
            </div>
        </div>
    </section>

    <section id="trips">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Trip Details</h2>
                    <hr class="primary">
                    <p>* 5 nights lodging at Pinnacle Condos in Killington Village
                        <br>
                        * 5 1/2 day lift ticket (including Pico Mountain)
                        <br>
                        * Carpool to Killington (Transportation is not included, but we never have a problem finding everyone rides)
                        <br>
                        ​* Epic Terpski condo parties (themed and a DJ).
                        <br>
                        * This is an awesome trip. You don't wanna miss out.
                        <br>
                        <h4>Killington Stats:</h4>
                        <hr>
                        Ski 6 peaks, a 4,241 ft. summit, 1,509 of skiable acres, and 250in of annual snowfall<br>
                        141 Trails, 22 Lifts<br>
                        5 Terrain Parks, and 430 ft. SuperPipe<br>
                        Home of the Dew Tour<br>
                        Biggest Mountain on the East Coast<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
}